<header>
  <h1>Choose your country</h1>

  <input
    type="text"
    placeholder="Enter your country"
    [(ngModel)]="search"
    autofocus
  />
  <!-- <button (click)="resetPage()">Reset</button> -->
</header>

<div class="search-container">
  <div *ngIf="search.length; else empty">
    <div *ngFor="let country of countries | filter: search">
      <a role="button" (click)="showCountry(country.name)">
       {{ country.name }}
      </a>
    </div>
  </div>
  <ng-template #empty></ng-template>  
</div>

<div *ngIf="country.name; else nocountry">
  <div class="country-card">
    <p>{{country.name | uppercase}}</p>
    <p>Capital: {{country.capital}}</p>
    <p>Native name: {{country.nativeName}}</p>
    <p>Region: {{country.region}}</p>
    <p>Population: {{country.population}}</p>
  </div>
</div>
<ng-template #nocountry></ng-template>
